name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  python-tests:
    name: Python • ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4

      - name: Install Poetry
        run: pipx install poetry  

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'

      - name: Install dependencies
        run: |
          # On force Poetry à utiliser la version de Python du runner
          poetry env use ${{ matrix.python-version }}
          poetry install --no-interaction

      - name: Run unit tests
        run: |
          mkdir -p results
          # Si virtualenvs.create est true (par défaut), on utilise 'poetry run'
          poetry run pytest -q --junitxml=results/junit-${{ matrix.python-version }}.xml

      - name: Upload JUnit result
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-${{ matrix.python-version }}
          path: results/junit-${{ matrix.python-version }}.xml


  code-analysis:
    name: Code analysis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Ruff
        run: |
          python -m pip install --upgrade pip
          pip install ruff

      - name: Run Ruff (style & code smells)
        run: |
          ruff check .

      - name: Scan secrets with Gitleaks
        uses: gitleaks/gitleaks-action@v2
  