name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: |
          pipx install poetry
          poetry install --no-interaction

      - name: Run tests
        run: poetry run pytest

      # On build
      - name: Build package
        run: poetry build

      - name: Generate changelog
        id: changelog
        run: |
          # Récupérer le dernier tag, sinon prendre le premier commit
          LAST_TAG=$(git describe --tags --abbrev=0 HEAD^ 2>/dev/null || git rev-list --max-parents=0 HEAD)
          
          # Générer les logs dans un fichier temporaire
          git log ${LAST_TAG}..HEAD --pretty=format:'- %s' > changelog.txt
          
          # Écrire dans GITHUB_ENV de manière sécurisée
          echo "CHANGELOG<<EOF" >> $GITHUB_ENV
          cat changelog.txt >> $GITHUB_ENV
          echo "" >> $GITHUB_ENV # S'assurer qu'il y a un saut de ligne avant la fin
          echo "EOF" >> $GITHUB_ENV

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          body: ${{ env.CHANGELOG }}
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Garder les artefacts sur GitHub Actions
      - name: Upload dist artifacts to Actions
        uses: actions/upload-artifact@v4
        with:
          name: dist-package
          path: dist/